<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact: true}">
              <a [routerLink]="['Restaurants']">
                Restaurants
              </a>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
      </form>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </div><!-- /.container-fluid -->
</nav>