/* You can add global styles to this file, and also import other style files */
.custom-container {
    background-color: white;
}
.nearest-list {
    height: 40px;
    padding: 2px;
    margin: 5px;
    background-color: #2e6da4;
    border-radius: 2px;
    color: white;
    text-align: center;
    position: relative;
    transition: all .15s ease-in-out;
    
}
.nearest-list > div {
    font-size: 12px;
}
.nearest-list:hover {
    color: white;
    transform: scale(1.1);
    border: 2px solid white;
}
