<div class="main">
<div class="row">
        <layout-header></layout-header>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="row">
        <layout-footer></layout-footer>
</div>
</div>
