    <form>
        <div class="form-group">
            <h3 class="text-center">Search by city:</h3>
            <select name="query" class="form-control" [ngModel]="selectedCity" (ngModelChange)="changeCity.emit($event)">
            <option 
                *ngFor="let c of cities" 
                [ngValue]="c">
                {{c.name}}
            </option>
            </select>
        </div>
    </form>