<div class="page-header">
    <h2 class="text-center">Add restaurant</h2>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="row">
                <form [formGroup]="restaurantForm" (ngSubmit)="submitForm()">
                    <fieldset [disabled]="isSubmitting">
                        <div class="form-group">
                            <input 
                                formControlName="name"
                                placeholder="Enter name"
                                class="form-control"
                                type="text"
                                />
                            <div *ngIf="!restaurantForm.get('name').valid" class="alert alert-danger">
                                 {{ restaurantForm.get('name').getError('remote') }}
                            </div>
                        </div>
                        <div class="form-group">
                            <input
                                formControlName="adress"
                                placeholder="Enter an adress"
                                class="form-control"
                                type="text"/>
                            <div *ngIf="!restaurantForm.get('adress').valid" class="alert alert-danger">
                                 {{ restaurantForm.get('adress').getError('remote') }}
                            </div>
                        </div>
                        <div class="form-group">
                            <input 
                                formControlName="longitude"
                                placeholder="Enter longitude"
                                class="form-control"
                                type="number"/>
                            <div *ngIf="!restaurantForm.get('longitude').valid" class="alert alert-danger">
                                 {{ restaurantForm.get('longitude').getError('remote') }}
                            </div>
                        </div>
                        <div class="form-group">
                            <input 
                                formControlName="latitude"
                                placeholder="Enter latitude"
                                class="form-control"
                                type="number"/>
                            <div *ngIf="!restaurantForm.get('latitude').valid" class="alert alert-danger">
                                 {{ restaurantForm.get('latitude').getError('remote') }}
                            </div>
                        </div>
                        <div class="form-group">
                            <select formControlName="cityId" class="form-control">
                            <option 
                                *ngFor="let c of cities | async" 
                                [ngValue]="c.id">
                                {{c.name}}
                            </option>
                            </select>
                            <div *ngIf="!restaurantForm.get('cityId').valid" class="alert alert-danger">
                                 {{ restaurantForm.get('cityId').getError('remote') }}
                            </div>
                        </div>
                    </fieldset>
                    <button 
                        class="btn btn-primary pull-right"
                        [disabled]="!restaurantForm.valid" 
                        type="submit">
                        Add
                    </button>
                </form>
        </div>
    </div>
</div>
