<div class="row">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Adress</th>
                <th class="text-center">Longitude</th>
                <th class="text-center">Latitude</th>
                <th class="text-center">City</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let restaurant of restaurants.data | paginate: { id: 'server', itemsPerPage: 3, currentPage: pageNumber, totalItems: restaurants.count }">
                <td class="text-center">{{restaurant.name}}</td>
                <td class="text-center">{{restaurant.adress}}</td>
                <td class="text-center">{{restaurant.longitude}}</td>
                <td class="text-center">{{restaurant.latitude}}</td>
                <td class="text-center">{{restaurant.city.name}}</td>
                <td class="text-center">
                    <button 
                        class="btn btn-primary"
                        title="Select restaurant"
                        (click)="selected.emit(restaurant)">S
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <pagination-controls (pageChange)="pageChanged.emit($event)" id="server"></pagination-controls>
    </div>
    <a [routerLink]="['Add']">
        <button 
            class="btn btn-primary pull-right"
            title="Select restaurant">
            Add
        </button>
    </a>
</div>