    <div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">{{selectedRestaurant.name}}</h3>
                    
                </div>
                <table class="table tabel-border table-hover">

                <tr>
                    <th>Adress</th>
                    <td>{{selectedRestaurant.adress}}</td>
                </tr>
                <tr>
                    <th>Longitude</th>
                    <td>{{selectedRestaurant.longitude}}</td>
                </tr>
                <tr>
                    <th>Latitude</th>
                    <td>{{selectedRestaurant.latitude}}</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>{{selectedRestaurant.city.name}}</td>
                </tr>
            </table>
            </div>
        </div>
        <div class="col-md-6">
            <div *ngFor="let r of nearestRestaurants" class="nearest-list" (click)="selected.emit(r)">
                <div>
                    {{r.name}}
                </div>
                <div>
                    {{r.distance | number:'1.1-3'}} km
                </div>
            </div>
        </div>
</div>
</div>
