<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <city-component
            [cities] = "cities | async"
            (changeCity) = "onCityChange($event)">
        </city-component>
    </div>
</div>
<hr>
<div class="row" [hidden]="!isTableVisiable">
    <div class="col-md-6 col-md-offset-3">
        <restaurant-list
            [restaurants]="restaurants | async"
            [pageNumber]="pageNumber"
            (selected)="selectRestaurant($event)"
            (pageChanged)="getPage($event)">
        </restaurant-list>
    </div>
</div>
<hr>
<div class="row" *ngIf="isSelected">
    <div class="col-md-6 col-md-offset-3">
        <restaurant-details
            [selectedRestaurant]= "restaurant | async"
            [nearestRestaurants]= "nearestRestaurants | async"
            (selected)="selectNearest($event)">
        </restaurant-details>
    </div>
</div>